{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "always",
  "trailingComma": "none"
}
