// Theme Colors
$primary-color: #00AAA1;
$secondary-color: #E8F3F3; 
$tertiary-color: #DFF1F0;
$success-color: #78C578;
$warning-color: #F0B37E;
$error-color: #E06F6C;

// Breakpoints 
$breakpoints-sm: 600px;
$breakpoints-md: 1024px;
$breakpoints-lg: 1440px;

// Spaces
$gutter-sm: 16px;
$gutter-lg: 24px;
$gutter-xl: 48px;
$gutter-2xl: 56px;

// Fonts
$fonts-family: "Montserrat", Helvetica, Arial, sans-serif;